@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');@import 'bootstrap/dist/css/bootstrap.min.css';
body{
    font-family: 'Montserrat', sans-serif;
  
    background: linear-gradient(
        75deg,
        transparent 10%,
        #EFF8FE 40%,
        #3fb5f063 60%,
        transparent 60%
        );
        background-size:  100%;

}


/* HEADER */


.navigationList{
    list-style: none;
    display: flex;
    gap: 50px;
    align-items: center;
    margin: 0;
    padding: 0;
}
.navBar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
}
.logSig{
    display: flex;
    gap: 20px;
}
.navigationListItem{
    font-size: 19px;
    font-weight: 600;
}
.navigationListItem:hover{
    color: #3FB6F0;
    transition: .3s;
    cursor: pointer;
}
.logSig button{
    height: 45px;
    width: 140px;
    border-radius: 15px;
    font-size: 18px;
    font-weight: 500;
}
.log{
    border: 2px solid #3FB6F0; 
    background: #EFF8FE;
    color: #3FB6F0;
}
.log:hover{
    border: 2px solid #3FB6F0; 
    background: #3FB6F0;
    color: #EFF8FE;
    transition: .7s;
    cursor: pointer;
}
.sign{
    border: 2px solid #3FB6F0; 
    background: #3FB6F0;
    color: #EFF8FE;
}
.sign:hover{
    border: 2px solid #3FB6F0; 
    background: #EFF8FE;
    color: #3FB6F0;
    transition: .7s;
    cursor: pointer;
}
.land{
    padding-top: 70px;
    display: flex;
   justify-content: center;
   align-items: center;
    gap: 50px;
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .centered-image {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
  }
  

.slick-slide img {
    display: block;
    width: 550px;
    height: auto;
}


/* MAIN */


.priceCar button{
    height: 35px;
    width: 120px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    background: #EFF8FE;
    border: 2px solid #3FB6F0;
    color: #3FB6F0;
}
.priceCar button:hover{
    color: #EFF8FE;
    background: #3FB6F0;
    transition: 0.7s;
}
.priceCar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 5px;
    padding-top: 7px ;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}
.mainBg{
    width: 80%;
    height: auto;
    background: #e5f3fc;
    border-radius: 40px;
}

.menu{
   padding: 30px;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}
.menuBtn button{
    width: 190px;
    height: 45px;
    background: #F2EFED;
    border: none;
    color: #3FB6F0;
    font-family: 'Montserrat', sans-serif;
   font-size: 16px;
   font-weight: 600;
   border-radius: 10px;
   border: 3px solid #3FB6F0;
}
.menuBtn button:hover{
    background: #3FB6F0;
    cursor: pointer;
    opacity: 1;
    color: #fff;
    font-weight: 700;
    transition: .5s;
    
}
.imgCar img{
    height: 130px;
    width: 280px;
}
.menuBtn button.active{
    background: #3FB6F0;
    color: #fff;
    font-weight: 700;
}
.carModule span{
    font-size: 20px;
    font-weight: 700;
}
.menuBtn{
   display: flex;
    gap: 20px;  
    justify-content: center;
}

.firstInfo{
    width: 300px;
    height: 340px;
    background: #fff;
    border-radius: 20px;

    padding: 15px;
}
.characteristicsCarItem{
    display: flex;
    align-items: center;
    max-width: 100px;
    gap: 5px;
}
.characteristicsCar{
    
    display: grid;
    grid-template-columns: 80px repeat(2, 90px);
    grid-template-rows: repeat(2, 40px);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.star{
    display: flex;
    align-items: flex-end;
    gap: 5px;
}
.star span{
    font-size: 8px;
}
.menuBlockInfo{
    padding-top: 15px;
}
.menuInfo{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.imgCar{
    display: flex;
    justify-content: center;
}
.menuTitle{
    color: #Fff;
    padding: 20px;
    font-weight: 500;
}
.menuPrice{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 25px;
}
.menuTitle span{
    font-size: 20px;
    color: #000;
}



/* ABOUT */


.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
}

.subTitleAbout {
  max-width: 50%;
  text-align: center;
  color: #57595A;
  font-size: 15px;
}

.aboutCardItemIcon {
  width: 60px;
  height: 60px;
  background: #3FB6F0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: #fff;
}

.aboutCardItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  max-width: 250px; 
}

.abotCardBlock {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding-top: 10px;
}
.aboutCardItemText{
    text-align: center;
}



/* Achivmets */

.achivmets{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}
.achivmetsBlock{
    padding-top: 100px;
    display: flex;
    gap: 50px;
    justify-content: center;
}
.achivmetsBlockItem{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    height: 100px;
    border: 2px solid #3fb5f03e;
    border-radius: 15px;
}


/* customers */


.customers{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}
.customersCardBlockItem{
    padding: 10px;
    width: 250px;
    height: 200px;
    background: #fff;
    box-shadow: 2px 2px 10.3px 0px #3FB6F0;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 15px;
}
.customersCardBlock{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.customersuserInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.customersUserBlock{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;

}
.comentar{
    font-size: 13px;
    color: #ABADAD;
}
.user{
    border: 2px solid #3FB6F0;
    border-radius: 100px;
    width: 40px;
    height: 40px;
    fill: #3FB6F0;
}


/* FOOter */



.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 50px;
}
.footerBlock{
    width: 890px;
    height: 300px;
    background: #3FB6F0;
    border-radius: 15px;
    display: flex;
   align-items: center;

    color: #fff;
    
}
.footerBlock p{
    max-width: 450px;
}
.footerText{
    display: flex;
    padding: 50px;
    flex-direction: column;
    width: 450px;
}
.footerCarImg{
    position: relative;
    width: 300px;
    z-index: 0; 
}
.crug{
    width: 460px;
    height: 200px;
    opacity: .5;
    background: #fff;
    border-radius: 100px 0 0 100px ;
    border: 50px solid #fff;
    position: absolute;
    top: -10px;
    left: -20px;
    z-index: -1;
}
.foooterBtn{
    width: 170px;
    height: 45px;
    border-radius: 10px;
    color: #ffffff;
    background: #ffffff72;
    font-weight: 600;
    border: 2px solid #fff;
}
.foooterBtn:hover{
    background: #3FB6F0;

    font-size: 20px;
    color: #fff;
    transition: .3s;
}






.payTitle{
     display: flex;
    justify-content: center;
    align-items: center;
}

.payNavigation{
    padding: 20px;
    width: 415px;
    height: 55px;
    background: #EF5C36;
    color: #ffff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 700;
    font-family: Prompt;
    cursor: pointer;
}
.payPlace{
    cursor: pointer;    
    padding: 20px;
    width: 415px;
    height: 55px;
    background: #EF5C36;
    color: #ffff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 700;
    font-family: Prompt;
}
.payDropdown{
    display: flex;
    gap: 10px;
    justify-content: center;
    padding-top: 40px;
}
.inputs{
    display: flex;
    justify-content: center;
    padding-top: 140px;
}
.inputs div{
    display: flex;
    gap: 60px;
    align-items: center;
}
.inputPrice
{
    color: #44A300;
    width: 343px;
    font-family: Prompt;
    font-size: 90px;
    font-weight: 900;
    border: none;
    border-bottom: 2px solid #000;
    outline: none;
}
input::-webkit-input-placeholder {
    text-align: center;
    }
.priceBtn{
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-top: 40px;
}
.priceBtn button{
    width: 125px;
    height: 50px;
    font-size: 24px;
    font-weight: 900;
    text-align: center;
    background: #44A300;
    color: #fff;
    border: none;
    opacity: 0.5;
}

.priceBtn button:hover{
    background: #44A300;
    transition: .5s ;
    cursor: pointer;
    opacity: 1;
}
.windowNextBtn{
    display: flex;
    justify-content: center;
    gap: 10px  ;
    padding-top: 160px;
}
.windowNextBtn button{
   
    height: 100px;
    background: #000000;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}
.windowNextBtn button:hover{
    background: #Fff;
    border: 2px solid #2E162B;
    transition:.5s ;
    color: #000;
    cursor: pointer;
    stroke: #000;
    font-size: 30px;
}
.svg path{
    stroke: #fff ;
}
.windowNextBtn button:hover .svg path{
    stroke: #000;
    transition:.5s ;
}
.windowNextBtn button:hover .svg{
    transform: scale(1.5);
    transition:.5s ;
}
.menuBlockInfo:hover{
    transition: opacity 0.5s ease-in-out;

}
.dropdownMeal{
    position: absolute;
}
.dropdownMeal ul{
    list-style-type: none;
}


.InfoHeader{
    display: flex;
    justify-content: space-around;
    background: #EF5C36;
    align-items: center;
}
.InfoHeaderTitle{
    color: #FFF;
    text-align: center;
    font-size: 128px;
    font-weight: 700;
    letter-spacing: 23.68px;
}
.InfoHeaderSubtitle{
    color: #FFF;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 8.88px;
}
.infoMain{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.infoMain span {
    color: #000;
    text-align: center;
    font-size: 64px;
    font-weight: 600;
    letter-spacing: 4.8px;
    padding: 50px 0;
}
.infoName {
    color: #000;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 2.7px;
    padding: 0px;
}

.infoValue {
    color: rgba(0, 0, 0, 0.54);
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 2.25px;
    padding: 0px;
}

.infoItem {
    display: flex;
    align-items: center;
    width: 50%;
}

.infoItem > div {
    flex: 1;
    text-align: center;
}



.infoLine {
    height: 2px;
    flex-grow: 1;
    background-color: #000;
    opacity: 1;
}

.infoItem ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.infoList{
    display: flex;
    justify-content: center;
    width: 70%;
}

